#landing-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://i.imgur.com/ysjWldO.jpg');
  background-size: cover;
  height: 100vh;
}

#landing-title {
  text-align: center;
  margin: 10% 0 0 0;
  font-size: calc(3em + 5vw);
  color: white;
}

#landing-bg > .line {
  width: 70vw;
  border-radius: 10px;
}

#landing-subtitle {
  margin: 10px;
  font-size: calc(0.5em + 2vw);
  color: white;
}

@media (max-width: 576px) {
  #landing-bg > .line {
    width: 95vw;
  }
}